<div class="card">
    <div class="card-header">
      {{pageTitle}}
    </div>
  
    <div class="card-body"
         *ngIf="product">
      <form [formGroup]="editForm" (ngSubmit)="onSubmit(editForm)">
  
        <div>
          <label>
            Name:
            <input formControlName="productName" placeholder="Product name">
          </label>
        </div>
        <div>
          <label>
            Code:
            <input formControlName="productCode" placeholder="Product Code">
          </label>
        </div>
        <div>
          <label>
            Price:
            <input formControlName="price" placeholder="Product Price">
          </label>
        </div>
        <div>
          <label>
            Description:
            <input formControlName="description" placeholder="Product Description">
          </label>
        </div>
  
        <div class="form-group row mb-2">
          <div class="col-md-4">
            <button class="btn btn-primary mr-3"
                    style="width:80px"
                    type="submit"
                    [title]="editForm.valid ? 'Save your entered data' : 'Disabled until the form data is valid'"
                    [disabled]="!editForm.valid">
              Save
            </button>
            <button class="btn btn-outline-secondary mr-3"
                    style="width:80px"
                    type="button"
                    title="Cancel your edits"
                    [routerLink]="['/products']">
              Cancel
            </button>
            <button class="btn btn-outline-warning"
                    style="width:80px"
                    type="button"
                    title="Delete this product"
                    (click)="deleteProduct()">
              Delete
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  
  <div class="alert alert-danger"
       *ngIf="errorMessage">{{errorMessage}}
  </div>