<div class="card">
    <div class="card-header">
        {{pageTitle}}
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            <button class="btn btn-primary"
                            (click)="toggleImage()">
                                {{showImage ? 'Hide' : 'Show'}} Image
                            </button>
                        </th>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Subtotal</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of products; let i = index">
                        <td>
                            <img *ngIf="showImage"
                                [src]="product.imageUrl"
                                [title]="product.productName"
                                [style.width.px]="imageWidth" 
                                [style.margin.px]="imageMargin"
                            >
                        </td>
                        <td>
                            <a [routerLink]="['/products', product.productId]">
                               {{ product.productName }}
                            </a>
                        </td>
                        <td>{{quantities[i]}}</td>
                        <td>{{product.price | currency:'USD':'symbol':'1.2-2'}}</td>
                        <td>{{quantities[i] * product.price | currency:'USD':'symbol':'1.2-2'}}</td>
                        
                        <td>
                            <button class="btn btn-outline-primary btn-sm"
                                    (click)="onSubstract(i)">
                              -
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-outline-primary btn-sm"
                                    (click)="onAdd(i)">
                              +
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-outline-primary btn-sm"
                                    (click)="onAdd(i)">
                              Delete
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>