<div class="card">
    <div class="card-header">
        {{pageTitle}}
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            <button class="btn btn-primary"
                            (click)="toggleImage()">
                                {{showImage ? 'Hide' : 'Show'}} Image
                            </button>
                        </th>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Subtotal</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of cart">
                        <td>
                            <img *ngIf="showImage"
                                [src]="item.product.imageUrl"
                                [title]="item.product.productName"
                                [style.width.px]="imageWidth" 
                                [style.margin.px]="imageMargin"
                            >
                        </td>
                        <td>
                            <a [routerLink]="['/products', item.product.productId]">
                               {{ item.product.productName }}
                            </a>
                        </td>
                        <td>{{item.qty}}</td>
                        <td>{{item.product.price | currency:'USD':'symbol':'1.2-2'}}</td>
                        <td pmHighlight>{{item.qty * item.product.price | currency:'USD':'symbol':'1.2-2'}}</td>
                        
                        <td>
                            <button class="btn btn-outline-primary btn-sm"
                                    (click)="onSubstract()">
                              -
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-outline-primary btn-sm"
                                    (click)="onAdd()">
                              +
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-outline-primary btn-sm"
                                    (click)="onAdd()">
                              Delete
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>